<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
            <class name="testcases.purerootslogin"/>
            <class name="testcases.registration"/>
	      <class name="testcases.searchpdt"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
